<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Class与Style绑定_绑定HTMLClass_用在组件上</title>

</head>

<body>

  <div id='app'>
    <my-component v-bind:class='classObject' v-for='item in list' v-bind:child='item' v-bind:key='item.index'></my-component>
  </div>



  <script>
    Vue.component('my-component',{
      props:['child'],
      template:"<p class='childEle' v>{{child.text}}</p>"
    })


    var app = new Vue({
      el: '#app',
      data:{
        isActive_1:true,
        isActive_2:true,
        list:[
          {text:'aaa'},
          {text:'bbb'}
        ]
      },
      computed:{
        classObject:function(){
          return{
            class01:this.isActive_1,
            class02:this.isActive_2
          }
        }
      }
    })
  </script>


</body>

</html>