<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Class与Style绑定1</title>

</head>

<body>
  <div id='app'>
    <div v-bind:class='classObject' @click='changeActive'>{{isActive}}

      v-bind:class ???? ????? ?????computed?
    </div>

  </div>



  <script>
    var app = new Vue({
      el: '#app',
      data: {
        isActive: true,
        error: null
      },
      computed: {
        classObject: function () {
          return {
            active: this.isActive
          }
        }
      },

      methods: {
        changeActive: function () {
          this.isActive = !this.isActive
        }
      }
    })
  </script>


</body>

</html>