<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Class与Style绑定1</title>

</head>

<body>
  <div id='app'>
    <p class="static" v-bind:class="{ active:isActive , 'active2' :isActive ,'text-danger':hasError}">{{changetext}}</p>
    <!-- 1.可以同时规定 固定的class名 与 绑定的class名   2.有横线的class名需要用引号包裹起来   3.不含横线的class名可包可不包 -->
    <button @click='changeError'>changeError</button>
  </div>



  <script>
    var app = new Vue({
      el: '#app',
      data: {
        isActive:true,
        hasError:false,
        changetext:''
      },
      mounted : function(){
        this.getClass()
      },
      methods:{
        getClass :function(){
          this.changetext = document.querySelector('.static').getAttribute('class')
          console.log(this.changetext)
        },
        changeError:function(){
          this.hasError = !this.hasError
          // 这个地方如果不用setTimeout 函数运行的时机会变得比较诡异，原因是getClass里面的document.querySelector,因此vue当中应该尽量避免这种方式获取数据
          setTimeout(e =>{
            this.getClass()
          },100)

        }
      }
    })
  </script>
</body>

</html>