<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Document</title>
</head>

<body>

  <div id="app">
    <p v-bind:title='copy'>
      <span v-once>{{copy}}</span>
      这是个是那么东西
    </p>
    <ul>
      <li v-for='todo in todos'>
        {{todo.text}}
      </li>
    </ul>

    <p>{{ message }}</p>
    <p>
      <input v-model='message'></p>
    <button @click='reverseMessage'>反转消息</button>
    <button @click='addList'>增加消息</button>
    <button @[eventname]='removeList'>删除消息</button>
    <p @click ='changeEventName'>删除消息按钮无效化 {{eventname}}<br>通过改变eventname来改变删除消息按钮的绑定</p>

    <button @click='disableTheButton' v-bind:disable='isButtonDisabled'>改变按钮状态现在的按钮状态是{{!isButtonDisabled ? '真':'假'}}</button>

    <ul>
      <todo-item
                 v-for='item in todos'
                 v-bind:todo='item'
                 v-bind:key='item.index'></todo-item>
    </ul>
    <p>当前该连接的URL是<a v-bind:[tuolekuzifangpi]='message'>{{message}}</a>动态参数，这里的href绑定属性名与属性值都是可变化的</p>
  </div>



  <script>
    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li>{{todo.text}}</li>'
    })
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        copy: '',
        message2: `页面加载于 ${new Date().toLocaleString()}`,
        todos: [{
            text: 'contents-001'
          },
          {
            text: 'contents-002'
          },
          {
            text: 'contents-003'
          }
        ],
        isButtonDisabled: false,
        tuolekuzifangpi:'href',
        eventname: 'click',
      },
      watch: {
        message: function () {
          this.copy = this.message
          console.log(this.copy)
        }
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
        },
        addList: function () {
          this.todos.push({
            text: this.message
          })

        },
        removeList: function () {
          for (n in this.todos) {
            if (this.todos[n].text == this.message) {
              if (n > -1) {
                this.todos.splice(n, 1)
              }
            }
          }
        },
        disableTheButton: function () {
          this.isButtonDisabled = !this.isButtonDisabled
        },
        changeEventName:function(){
          console.log(this.eventname)
          if(this.eventname == 'click'){
            this.eventname = 'null'
          }else{
            this.eventname = 'click'
          }
        }
      }
    })
    console.log(app.$el)
  </script>
</body>

</html>