<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>侦听器_watch</title>
</head>

<body>
  <div id='app-watch'>
    <p>Ask a yes/no question:
      <input type="text" v-model='question'>
    </p>
    <p>{{answer}}</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

  <script>
    var appWatch = new Vue({
      el: '#app-watch',
      data: {
        question: '',
        answer: 'I cannot give you an answer until you ask a question!'
      },
      watch: {
        question: function () {
          this.answer = 'Waiting for you to stop typing...'
          this.debouncedGetAnswer()
        }
      },
      // created: function(){
      //     this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
      // },
      mounted: function(){
        this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
      },
      methods: {
        getAnswer: function () {
          if (this.question.indexOf('?') === -1) {
            this.answer = 'Questions usually contain a question mark. ;-)'
            return
          }
          this.answer = 'Thinking....'
          var app = this
          axios.get('https://yesno.wtf/api')
            .then(function (response) {
              app.answer = _.capitalize(response.data.answer)
            })
            .catch(function (error) {
              app.answer = 'Error! Could not reach the API. ' + error
            })
        }
      }
    })
  </script>

</body>

</html>