<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>列表渲染_用v-for把一个数组对应为一组元素</title>
</head>

<body>

  <div id="app">
    <ul id="app">
      <li v-for='(child,index) in items' v-bind:key='child.id'>
        {{child.message}} {{index}}
      </li>
      <li>=======这里是分割线，这里往上循环的是数组Items，这里往下循环的是对象object的内容</li>
      <li v-for='(child,title,index) in object'>
        {{child}} - {{title}} - {{index}}
      </li>
    </ul>
    <p>这两个属于一个vue实例下的v-for循环里面可以使用同一个参数名，互不影响。>>>child</p>
    <p>上面这个循环的是一个数组array，下面这个循环的是一个对象object</p>
    <p>循环对象object时，第一个参数（child）是property的值，第二个参数（title）是property的名称(也就是键名)，第三个参数(index)是property的索引值</p>
    <input type="text" v-model='message'>
    <p @click='addItem'>** addItem to items </p>
    <p>↑↑改变数组以改变视图</p>
    <p @click='changeArray'>** change the item of items </p>
    <p>↑↑替换数组以改变视图,这下方法并没有改变原属组，但却用新数组替换了原有数组，代表方法有 filter()、concat() 和 slice()</p>
    <p @click='setItem'>** 改变数组items的最后一项的内容</p>

    <p>将Items数组剪成有<input type="text" v-model='num'>项的数组</p>
    <p @click='cutItems'>** 开切！！</p>
  </div>



  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'new message',
        num:0,
        items: [
          {message: 'Foo'},
          {message: 'Bar'}
        ],
        object: {
          title: 'How to do lists in Vue',
          author: 'Jane Doe',
          publishedAt: '2016-04-10'
        },

      },
      methods: {
        addItem: function () {
          //这里直接改变了原来的数组 items
          this.items.push({
            message: `${this.message}`
          })
          console.log(this.items)
        },
        changeArray: function () {
          //concat方法返回新的数组，这里用新的数组代替了原有数组 items
          let newArray = [{
            message: `${this.message}`
          }]
          this.items = this.items.concat(newArray)
          console.log(this.items)
        },
        setItem: function () {
          this.$set(this.items, this.items.length - 1, {
            message: `${this.message}`
          })
          // 这里的 this.$set 相当于 app.$set 相当于 Vue.set ， app.$set是一个实例方法，他是全局方法Vue.set的一个别名
          //this.$set(this.items, indexOfItem, newValue) 改变数组具体某一项的内容为新的内容（newValue）
          console.log(this.items)
        },
        cutItems:function(){
          suji = this.num > this.items.length ? this.items.length : this.num
          if(suji > 0){
            this.items.splice(suji)
          }

        }
      }
      // watch: {
      //   num: function () {
      //     setTimeout(e =>{
      //       console.log(this.num)
      //       this.items.splice(this.num)
      //     },3100)
      //   }
      // }
    })

    console.log(app.items)
    //可以看到app.items里面的许多方法
  </script>
</body>

</html>