<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>条件渲染</title>
</head>

<body>

  <div id="app">
    <template v-if="logoinType==='username'">
      <label>username</label>
      <input type="text" placeholder="Enter your username">
    </template>
    <template v-else>
      <label>mailAddress</label>
      <input type="text" placeholder="Enter your mailAddress">
    </template>

    <br>

    <template v-if="logoinType==='username'">
      <label>username</label>
      <input type="text" placeholder="Enter your username" key='username'>
    </template>
    <template v-else>
      <label>mailAddress</label>
      <input type="text" placeholder="Enter your mailAddress" key='mailAddress'>
    </template>

    <br>
    <button @click='changeLoginType'>change loginType</button>



    <p>在v-if与v-else的使用中，为元素添加唯一的key属性，即可保证这两个input元素是完全独立的。<br>分别在上述两个input当中输入文字，然后切换，进行比较</p>

    <p>不推荐v-if与v-for一起使用</p>

  </div>



  <script>
    var app = new Vue({
      el: '#app',
      data: {
        logoinType: 'username'
      },
      methods: {
        changeLoginType: function () {
          if (this.logoinType === 'username') {
            this.logoinType = ''
          } else {
            this.logoinType = 'username'
          }
        }
      }
    })
  </script>
</body>

</html>