<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>计算属性</title>
</head>

<body>


  <div id='app'>

    <p>Original message: "{{ message }}"</p>
    <p>Computed reversed message: "{{ reversedMessage }}"</p>
    <p @click='changeMessage'>changeMessage</p>
    <p>{{nowTime}}</p>
    <p @click='timeHander'>这里做了一个秒表 {{clockTime}} 《===点击停秒</p>

  </div>



  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello',
        clockTime: '',
        interval: null
      },
      computed: {
        //reversedMessage叫什么 计算属性
        reversedMessage: function () {
          return this.message.split('').reverse().join('')
        },
        nowTime: function () {
          return Date.now()
        }
      },
      methods: {
        changeMessage: function () {
          this.message = this.message.split('').reverse().join('')
          console.log(this.reversedMessage)
        },

        startTheTime: function () {
          if (this.interval != null) {
            this.stopTheTime()
          }
          this.interval = setInterval(() => {
            this.clockTime = Date.now()
          }, 16)
        },
        stopTheTime() {
          clearInterval(this.interval);
          this.interval = null
        },
        timeHander(){
          if(this.interval != null){
            this.stopTheTime()
          }else{
            this.startTheTime()
          }
        }
      },

      mounted: function () {
        this.$nextTick(function () {
          this.startTheTime()
        })
      }

    })
  </script>
</body>

</html>