<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Document</title>
  <style>
    #app ul {
      list-style: none;
    }

    li a {
      display: flex;
    }

    .num {
      margin-right: 10px;
      background-color: pink;
    }
  </style>
</head>

<body>


  <div id="app">
    <p @click='number++'>{{number}}</p>

    <ul>
      <li v-for='(item ,index) in numberList' @click='numberListHandler(index)'>{{item}}</li>
    </ul>


    <p @click="obj.num++">{{obj.num}}</p>

    <ul>
      <li v-for='(item ,index) in objList' @click='objListHandler(index)'>{{item.num}}</li>
    </ul>

    <p @click='numberListAdd'>给numberList加一项</p>
    <p @click='objListAdd'>给objList加一项</p>
  </div>




  <script>
    let data = {
      number: 0,

      numberList: [0, 0, 0],

      obj: {
        num: 1
      },

      objList: [{
        num: 0
      }, {
        num: 0
      }, {
        num: 0
      }]
    }

    var vm = new Vue({
      el: '#app',
      data: data,
      methods: {
        numberListHandler(index) {
          // this.numberList[index] ++
          // 上面这种写法不可以
          this.$set(this.numberList, index, this.numberList[index] + 1)
        },
        objListHandler(index) {
          this.objList[index].num++
          // 上下这两种写法都可以，都OK
          // this.$set(this.objList[index], 'num', this.objList[index].num + 1)
        },
        objListAdd() {
          // this.objList.push({newNum:0})
          this.$set(this.objList, this.objList.length, {
            num: this.objList.length
          })
        },
        numberListAdd() {
          this.numberList.push(0)
        }
      },
      // computed: {
      //   objListZZZ: function () {
      //     ss = this.objList.map(function(e){
      //       for (var key in e){
      //         e.ttTarget = e[key]
      //       }
      //       return e
      //     })
      //     return ss
      //   }
      // },
      watch: {
        //
        number(val, oldVal) {
          console.log('number:', val, oldVal)
        },

        // 观测对象obj具体属性
        ['obj.num'](val, oldVal) {
          console.log('obj.num:', val, oldVal)
        },

        // 观测对象obj全体
        obj: {
          handler(val, oldVal) {
            console.log('obj:', val, oldVal)
          },
          deep: true
        },

        // 观测数组numberList
        numberList(val, oldVal) {
          console.log('numberList:', val, oldVal)
        },

        // 观测数组objList
        //这个方法不行，他观察的是整体
        // objList(val, oldVal) {
        //   console.log('objList:', val, oldVal)
        // }
        objList: {
          handler(val, oldVal) {
            console.log('objList:', val, oldVal)
          },
          deep: true
        }


      }
    })
  </script>


</body>

</html>