<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Document</title>
  <style>
    #app ul {
      list-style: none;
    }

    li a {
      display: flex;
    }

    .num {
      margin-right: 10px;
      background-color: pink;
    }
  </style>
</head>

<body>


  <div id="app">
    <div>
      <!-- <select></select> -->
      <select v-model='input.type'>
        <option>第1种分类</option>
        <option>第2种分类</option>
        <option>第3种分类</option>
        <option>第4种分类</option>
        <option>第5种分类</option>
      </select>
      <input type="text" @keyup.enter='addMenu' v-model.trim = 'input.title'>
    </div>

    <ul>
      <li v-for="(item ,index) in menu">
        <a :href="item.link">
          <p class="num">{{index + 1}}</p>
          <p class="">{{item.title}}</p>
        </a>
      </li>
    </ul>
  </div>




  <script>
  let data = {
  input:{
    type:'第1种分类',
    title:''
  },
  menu:[
    {type:'第1种分类',title:'第1个标题',link:'javascript:;'},
    {type:'第2种分类',title:'第2个标题',link:'javascript:;'},
    {type:'第3种分类',title:'第3个标题',link:'javascript:;'},
    {type:'第4种分类',title:'第4个标题',link:'javascript:;'},
    {type:'第5种分类',title:'第5个标题',link:'javascript:;'},
    {type:'第1种分类',title:'第6个标题',link:'javascript:;'},
    {type:'第1种分类',title:'第7个标题',link:'javascript:;'},
    {type:'第1种分类',title:'第8个标题',link:'javascript:;'},
    {type:'第2种分类',title:'第9个标题',link:'javascript:;'},
    {type:'第2种分类',title:'第10个标题',link:'javascript:;'}
  ]
}

var vm = new Vue({
  el: '#app',
  data: data,
  methods:{
    addMenu(){
      if(this.input.title){
        this.menu.push({
          type : this.input.type,
          title : this.input.title,
          link :'javascript:;'
        })
        this.input.title = ''
      }
    }
  },
})
</script>


</body>

</html>