<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Document</title>
  <style>
    #app ul {
      list-style: none;
    }

    li a {
      display: flex;
    }

    .num {
      margin-right: 10px;
      background-color: pink;
    }
  </style>
</head>

<body>


  <div id="app">
    <div>
      <!-- <select></select> -->
      <select v-model='input.type'>
        <option>全部</option>
        <option>第1种分类</option>
        <option>第2种分类</option>
        <option>第3种分类</option>
        <option>第4种分类</option>
        <option>第5种分类</option>
      </select>
      <input type="text" @keyup.enter='addSpan' v-model.trim='input.title'>
    </div>

    <ul>
      <li v-for="(item ,index) in strongMenu">
        <a :href="item.link">
          <p class="num">{{index + 1}}</p>
          <p class="tit">{{item.title}}</p>
        </a>
      </li>
    </ul>
  </div>


  <script>
    let data = {
      input: {
        type: '全部',
        title: ''
      },
      menu: [{
          type: '第1种分类',
          title: '第1个标题',
          link: 'javascript:;'
        },
        {
          type: '第2种分类',
          title: '第2个标题',
          link: 'javascript:;'
        },
        {
          type: '第3种分类',
          title: '第3个标题',
          link: 'javascript:;'
        },
        {
          type: '第4种分类',
          title: '第4个标题',
          link: 'javascript:;'
        },
        {
          type: '第5种分类',
          title: '第5个标题',
          link: 'javascript:;'
        },
        {
          type: '第1种分类',
          title: '第6个标题',
          link: 'javascript:;'
        },
        {
          type: '第1种分类',
          title: '第7个标题',
          link: 'javascript:;'
        },
        {
          type: '第1种分类',
          title: '第8个标题',
          link: 'javascript:;'
        },
        {
          type: '第2种分类',
          title: '第9个标题',
          link: 'javascript:;'
        },
        {
          type: '第2种分类',
          title: '第10个标题',
          link: 'javascript:;'
        }
      ]
    }

    var vm = new Vue({
      el: '#app',
      data: data,
      computed: {
        typeMenu: function () {
          if (!(this.input.type == '全部')) {
            return this.menu.filter(item => {
              return item.type == this.input.type
            })
          } else {
            return this.menu
          }
        },
        titleMenu: function () {

          if (this.input.title) {
            return this.typeMenu.filter(item => {
              return item.title.indexOf(this.input.title) != -1
            })
          } else {
            return this.typeMenu
          }
        },
        strongMenu: function () {
          if (this.input.title) {
            console.log('run strongMenu')
            return this.titleMenu.map((item) => {
              a = item.title.indexOf(this.input.title)
              b = this.input.title.length
              console.log(item.title, a, b)
              item.title = item.title.slice(0, a) + '_' + item.title.slice(a, a + b) + '_' + item.title.slice(a + b, item.title.length)
              return item
            })
          }else{
            return this.titleMenu
          }
        }
      },
      methods: {
        addSpan() {
          console.log(this)
        }
      },
    })
  </script>


</body>

</html>